{% extends 'base.html' %}

{% block title %}Book app{% endblock %}

{% block body %}
    <p>Create</p>
    <input type="text" id="title">
    <button type="submit" class="btn btn-secondary create">add</button>

    <p>Search</p>
    <input type="text" id="search">
    <button type="button" class="btn btn-secondary search">search</button>

    <div id="queryDiv" class="mt-3 hide">
        <p>Query</p>
        <button type="button" id="resultsQuery" class="btn btn-secondary resultsQuery hide">results</button>
        <ul id="queryUl" class="list-group mt-3"></ul>
    </div>

    <div class="mt-3">
        <p>Books</p>
        <button type="button" id="resultsBooks" class="btn btn-secondary resultsBooks">results</button>
        <ul id="booksUl" class="list-group mt-3"></ul>
    </div>
{% endblock %}