{% extends 'base.html' %}

{% block title %}Book app{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">GP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto" id="authorizeDiv">
                    {% if not user.is_authenticated %}
                    <a class="nav-link loginButtonsBooksForm" href="#">Login</a>
                    <a class="nav-link registerButtonsBooksForm" href="#">Register</a>
                    
                    {% else %}
                    <a class="nav-link logoutButtonsBooks" href="#">Logout</a>
                    <a class="nav-link" href="#">{{ user.username }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <form class="row gy-2 gx-3 mt-3">
        <div class="col-auto">
            <label for="title" class="visually-hidden">Title</label>
            <div class="input-group">
                <div class="input-group-text">#</div>
                <input type="text" id="title" class="form-control" placeholder="Title...">
            </div>
          </div>
          <div class="col-auto position-relative">
            <label for="authors" class="visually-hidden">Authors</label>
            <div class="input-group">
                <button type="button" class="btn btn-outline-secondary createAuthor" id="button-addon1">Add</button>
                <input type="text" id="authors" class="form-control authors" placeholder="Author(s)..." aria-label="authors" aria-describedby="authorsHelp">
            </div>
            <div id="authorsHelp" class="form-text">Use 'Add' button for multiple authors.</div>
            <ul id="authorsUl" class="list-group hide position-absolute mt-1" style="z-index: 1000;"></ul>           
            <div class="dropdown mt-2 hide" id="authorsCacheDd">
                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    authorsCache
                </button>
                <ul class="dropdown-menu" id="authorsCacheUl" aria-labelledby="dropdownMenuButton1">
                </ul>
            </div>
            <!-- <ul id="authorsCacheUl" class="list-group hide mt-2"></ul> -->
          </div>
          <div class="col-auto">
            <label class="visually-hidden" for="thumbFile">Thumbnail</label>
            <input type="file" id="thumbFile" class="form-control">
          </div>
        <div class="col-auto">
            <button type="button" class="btn btn-outline-primary create">Create</button>
        </div>
        <div class="col-12">
            <div id="errorCreate" class="text-danger hide mt-1"></div>
        </div>
    </form>
    
    <form class="row gy-2 gx-3 mt-3">
        <div class="col-auto">
            <div class="input-group">
                <input type="text" id="search" class="form-control" placeholder="Search..." aria-label="search" aria-describedby="queryHelp">
                <button class="btn btn-outline-secondary search" type="button" id="button-addon2">Search</button>
            </div>
            <div id="queryHelp" class="form-text">Query books w/ Google Books API.</div>
        </div>
    </form>

    <div id="queryDiv" class="mt-3 hide">
        <div class="fw-light">Query</div>
        <button type="button" id="resultsQuery" class="btn btn-outline-secondary btn-sm resultsQuery hide my-2">results</button>
        <div id="errorQuery" class="text-danger hide my-1"></div>
        <ul id="queryUl" class="list-inline"></ul>
    </div>

    <div class="mt-3">
        <div class="fw-light">Books</div>
        <div class="row gy-2 gx-3 my-2">
            <div class="col-auto hide">
                <button type="button" id="resultsBooks" class="btn btn-outline-secondary btn-sm resultsBooks">results</button>
            </div>
            <div class="col-auto">
                 <label for="userQuery" class="visually-hidden">User</label>
                <div class="col-auto input-group input-group-sm">
                    <input type="text" class="form-control usero" id="userQuery" aria-label="Query user bookshelves" aria-describedby="userQuery">
                    <button class="btn btn-outline-secondary createUserQuery" type="button" id="userQueryButton">qUser</button>
                </div>
                <ul id="userQueryUl" class="list-group hide position-absolute mt-1" style="z-index: 1000;"></ul>           
            </div>
            <div class="col-auto">
                <label for="authorQuery" class="visually-hidden">Author</label>
                 <div class="input-group input-group-sm">
                    <input type="text" class="form-control author" id="authorQuery" aria-label="Query author books" aria-describedby="authorQuery">
                    <button class="btn btn-outline-secondary createAuthorQuery" type="button" id="authorQueryButton">qAuthor</button>
                </div>
                <ul id="authorQueryUl" class="list-group hide position-absolute mt-1" style="z-index: 1000;"></ul>           
            </div>
        </div>
        <div id="errorDelete" class="text-danger hide my-1"></div>
        <ul id="booksUl" class="list-inline"></ul>        
    </div>
{% endblock %}