{% extends 'td/base.html' %}

{% block body %}
    <div class="d-flex justify-content-between mt-3">
        <div>
            <button type="button" class="btn btn-secondary" onclick="window.location='{% url 'td:my_register' %}'">Register</button>
            <button type="button" class="btn btn-secondary mx-2" onclick="window.location='{% url 'td:my_login' %}'">Login</button>
            <button type="button" class="btn btn-secondary" onclick="logoutUser()">Logout</button>
        </div>
        <div class="d-flex align-items-center">
            {% if user.is_authenticated %}
            user: {{ user.username }}
            {% else %}
            not logged in
            {% endif %}
        </div>
    </div>
    <div class="mt-3">
        <label for="inputC" class="form-label">Add task</label>
        <input type="text" class="form-control" id="inputC" placeholder="Write your task..." autocomplete="off">
        <button type="button" class="btn btn-primary mt-3" onclick="createTask()">Add</button>
    </div>        
    <div class="mt-3">
        <p>Not completed</p>
        <ul id="tasksNC" class="list-group"></ul>
        <p class="mt-3">Completed</p>
        <ul id="tasksC" class="list-group"></ul>
    </div>
{% endblock %}